:root {
  --font-monospace: "Firple", "Cascadia Code", monospace;
}

body {
  color: #ccc;
  background-color: #234;
  margin: 16px 24px;
  max-width: 960px;
}

header {
  display: flex;
}

h1 {
  font-family: var(--font-monospace);
  display: inline-block;
}

.right-aligned {
  display: inline-block;
  margin: auto 0 auto auto;
}

#samples {
  margin-right: 24px;
}

#run {
  font-family: var(--font-monospace);
  width: 128px;
  height: 48px;
}

pre,
textarea {
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #ccc;
  background-color: #2d2d2d;
  border: 1px solid #888;
  margin: 0;
  padding: 16px 24px;
  box-sizing: border-box;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  tab-size: 4;
}

pre#output .err {
  color: #f77;
}

#output-container {
  width: 100%;
  height: 144px;
  margin: 16px 0;
  font-family: var(--font-monospace);
  font-size: 16px;
  line-height: 1.5;
}

#input-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 16px 0;
  font-family: var(--font-monospace);
  font-size: 16px;
  line-height: 1.5;
}

#input-container textarea#input,
#input-container pre#highlight {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 24px 16px 3.8em;
}

#input-container textarea#input {
  z-index: 2;
  background: transparent;
  color: transparent;
  caret-color: #fff;
}

#input-container pre#highlight {
  z-index: 1;
  pointer-events: none;
}

#input-container code[class*="language-"],
#input-container pre[class*="language-"] {
  /* Prevent Prism.js from overwriting them. */
  font-family: var(--font-monospace);
  margin: 0;
}
